DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
PORT=3001
JWT_SECRET=troque_essa_chave
APP_URL="https://afiliadosbackend-production.up.railway.app"
WHATSAPP_URL="https://api.whatsapp.com/send/?phone=55008006022732&text&type=phone_number&app_absent=0"
WHATSAPP_NUMBER=55008006022732
WHATSAPP_MESSAGE="Tenho interesse no Plano Familia Netbox."
